{% extends 'main.html' %}
{% block content %}
<h1 class="text-center h_sm">Liste des produits</h1>
<div class="row">
	<div class="col-md">
					<a class="btn btn-primary  btn-sm btn-block" href="{% url 'ajouter_produit' %}"><i class="fa-solid fa-plus"></i></a>

		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Nom</th>
					<th>Prix</th>
					<th>Tag</th>
					<th>Actions</th>
				</tr>
					{% for produit in produits  %}
				<tr>
				<th>{{produit.nom}}</th>
				<th>{{produit.prix}}</th>
					<th>{% for tag in produit.tag.all %}
        <li>{{ tag.nom }}</li>
    {% empty %}
        <li>No tags available.</li>
    {% endfor %}</th>
				<th class="d-flex justify-content-around gap-2"><a class="btn btn-sm btn-info" href="{% url 'editer_produit' produit.id %}"><i class="fas fa-edit"></i></a>
				<a class="btn btn-sm btn-danger" href="{% url 'supprimer_produit' produit.id %}"><i class="fas fa-trash"></i></a> </th>
               </tr>
				{% endfor  %}

			</table>
		</div>
	</div>
</div>
</div>

{% endblock content%}

