{% extends 'main.html' %}
{% block content %}

<h1 class="text-center">Liste des commandes</h1>
<div class="row">
	<div class="col-md">
        			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'ajouter_commande' %}">Ajouter une Commande</a>

		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Produit</th>
					<th>Client</th>
					<th>Date de la commande</th>
					<th>Status</th>
					<th>Mise à Jour</th>
					<th>Supprimer</th>
					<th>Recu</th>
				</tr>
					{% for commande in commandes  %}
				<tr>
				<th>{{commande.produit}}</th>
				<th>{{commande.client}}</th>
				<th>{{commande.date_creation}}</th>
				<th>{{commande.status}}</th>
				<th><a class="btn btn-sm btn-info" href="{% url 'editer_commande' commande.id %}">mettre a jour</a> </th>
				<th><a class="btn btn-sm btn-danger" href="{% url 'supprimer_commande' commande.id %}">supprimer</a> </th>
               <th><a class="btn btn-sm btn-secondary" href="{% url 'recevoir_commande' commande.id %}">Recu</a> </th>
				</tr>
				{% endfor  %}

			</table>
		</div>
	</div>

</div>
</div>


{% endblock content%}
