{% extends 'main.html' %}
{% block content %}

    <h1 class="text-center">Liste des clients</h1>

	<br>

<div class="row">
	<div class="col-md">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'ajouter_client' %}"><i class="fa-solid fa-plus"></i></a>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Nom</th>
					<th>Telephone</th>
					<th>Nombre de commandes</th>
					<th>Actions</th>
				</tr>
				{% for client in clients %}
				<tr>
				<th>{{client.nom}}</th>
				<th>{{client.telephone}}</th>
				<th>  <p>{{ client.nom }} a {{ client.commande_count }} commandes.</p></th>


				<th class="d-flex justify-content-around gap-2">
					<a class="btn btn-sm btn-success" href="{% url 'client' client.id %}"><i class="fa-solid fa-circle-info"></i></a>
					<a class="btn btn-warning  btn-sm btn-block" href="{% url 'editer_client' client.id %}"><i class="fas fa-edit"></i></a>

				<a class="btn btn-danger  btn-sm btn-block" href="{% url 'supprimer_client' client.id %}"><i class="fas fa-trash"></i></a>
</th>

               </tr>
				{% endfor  %}

			</table>
		</div>
	</div>
</div>

{% endblock content%}
